@model CooperTestDemo.Entities.testEntity

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br />
            <input id="Button1" type="button" value="Create New Test" class="btn btn-primary " data-toggle="modal" data-target="#myModal" />
            <br />
            <br />
        </div>
        
        <div class="col-md-12">

            <table class="table table-bordered table-hover table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <th>Date </th>
                        <th>Number Of Participant </th>
                        <th>Testtype</th>
                    </tr>
                </thead>
                @foreach (var item in Model.lstTests)
                {
                    <tbody>
                        <tr>

                            <td>@item.TestDate</td>
                            <td>@item.AthleteTests.Where(s => s.RecordStatus == "Active").Count()</td>
                            <td><a href="@Url.Action("athletes","Home", new { id=item.Id })">@item.Name</a></td>
                        </tr>
                    </tbody>
                }
            </table>

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        @using (Html.BeginForm())
                        {
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">CREATE NEW TEST</h4>
                            </div>
                            <div class="modal-body">
                                @if (Model.lstTests.Count > 0)
                                {
                                    <div class="form-group">
                                        <label for="Type">Type:</label>
                                        @Html.DropDownListFor(m => m.testType, new SelectList(ViewBag.tests, "Value", "Text"), "--- select Test ----", new { @class = "form-control", @required = "required" })
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        <label for="Type">Type:</label>
                                        @Html.TextBoxFor(m => m.testType, new { @class = "form-control", @required = "required" })
                                    </div>
                                }
                                <div class="form-group">
                                    <label for="Date">Date:</label>
                                    @Html.TextBoxFor(s => s.testDate, new { @type = "date", @class = "form-control", @required = "required" })
                                </div>
                                <button type="submit" class="btn btn-default">CREATE TEST</button>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
